In [1]:
import pandas as pd
list_of_df = pd.read_html("https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table",header=0)

In [2]:
len(list_of_df)

7

In [3]:
for t in list_of_df:
    print(t.shape)

(1, 1)
(87, 6)
(10, 9)
(0, 2)
(1, 2)
(4, 2)
(1, 2)

In [4]:
df15=list_of_df[1]
df15.head()

  Rank                  NOC  Gold  Silver  Bronze  Total
0    1  United States (USA)    46      37      38    121
1    2  Great Britain (GBR)    27      23      17     67
2    3          China (CHN)    26      18      26     70
3    4         Russia (RUS)    19      17      20     56
4    5        Germany (GER)    17      10      15     42