###Execute the following commands to install the necessary libraries (if not installed already)

###!pip install tabula-py xlrd lxml

###You should have JAVA 8+ and Python 3.7+ installed

In [57]:
from tabula import read_pdf

In [58]:
import pandas as pd
df18_1 = read_pdf('../datasets/Housing_data.pdf',pages=[1],pandas_options={'header':None})
df18_1

[         0     1     2  3      4      5     6       7  8    9
 0  0.17004  12.5  7.87  0  0.524  6.004  85.9  6.5921  5  311
 1  0.22489  12.5  7.87  0  0.524  6.377  94.3  6.3467  5  311
 2  0.11747  12.5  7.87  0  0.524  6.009  82.9  6.2267  5  311
 3  0.09378  12.5  7.87  0  0.524  5.889  39.0  5.4509  5  311]

In [26]:
df18_2 = read_pdf('../datasets/Housing_data.pdf',pages=[2],pandas_options={'header':None})
df18_2

[      0       1      2     3
 0  15.2  386.71  17.10  18.9
 1  15.2  392.52  20.45  15.0
 2  15.2  396.90  13.27  18.9
 3  15.2  390.50  15.71  21.7]

In [27]:
import pandas as pd
df1 = pd.DataFrame(df18_1)
df2 = pd.DataFrame(df18_2)

In [28]:
df18=pd.concat([df1,df2],axis=1)
df18.values.tolist()

[[         0     1     2  3      4      5     6       7  8    9
  0  0.17004  12.5  7.87  0  0.524  6.004  85.9  6.5921  5  311
  1  0.22489  12.5  7.87  0  0.524  6.377  94.3  6.3467  5  311
  2  0.11747  12.5  7.87  0  0.524  6.009  82.9  6.2267  5  311
  3  0.09378  12.5  7.87  0  0.524  5.889  39.0  5.4509  5  311,
  0.0,
  1.0,
  2.0,
  3.0]]

In [29]:
names=['CRIM','ZN','INDUS','CHAS','NOX','RM',
'AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','PRICE']
df18_1 = read_pdf('../datasets/Housing_data.pdf',pages=[1],pandas_options={'header':None,'names':names[:10]})
df18_2 = read_pdf('../datasets/Housing_data.pdf',pages=[2],pandas_options={'header':None,'names':names[10:]})
df1 = pd.DataFrame(df18_1)
df2 = pd.DataFrame(df18_2)
df18=pd.concat([df1,df2],axis=1)
df18.values.tolist()

[[      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX
  0  0.17004  12.5   7.87     0  0.524  6.004  85.9  6.5921    5  311
  1  0.22489  12.5   7.87     0  0.524  6.377  94.3  6.3467    5  311
  2  0.11747  12.5   7.87     0  0.524  6.009  82.9  6.2267    5  311
  3  0.09378  12.5   7.87     0  0.524  5.889  39.0  5.4509    5  311,
     PTRATIO       B  LSTAT  PRICE
  0     15.2  386.71  17.10   18.9
  1     15.2  392.52  20.45   15.0
  2     15.2  396.90  13.27   18.9
  3     15.2  390.50  15.71   21.7]]