In [1]:
import pandas as pd
df16 = pd.read_json("../datasets/movies.json")
df16.head()

                                  title  year cast genres
0            After Dark in Central Park  1900   []     []
1  Boarding School Girls' Pajama Parade  1900   []     []
2        Buffalo Bill's Wild West Parad  1900   []     []
3                                Caught  1900   []     []
4                  Clowns Spinning Hats  1900   []     []

In [2]:
cast_of_avengers=df16[(df16['title']=="The Avengers") & (df16['year']==2012)]['cast']
print(list(cast_of_avengers))

[['Robert Downey, Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth', 'Scarlett Johansson', 'Jeremy Renner', 'Tom Hiddleston', 'Clark Gregg', 'Cobie Smulders', 'Stellan SkarsgÃ¥rd', 'Samuel L. Jackson']]