In [6]:
import pandas as pd
from bs4 import BeautifulSoup
fd = open("../datasets/test.html", "r")
soup = BeautifulSoup(fd)
data = soup.findAll('tr')
print("Data is a {} and {} items long".format(type(data), len(data)))

Data is a <class 'bs4.element.ResultSet'> and 4 items long

In [7]:
data_without_header = data[1:]
headers = data[0]
headers

<tr>
<th>Entry Header 1</th>
<th>Entry Header 2</th>
<th>Entry Header 3</th>
<th>Entry Header 4</th>
</tr>

In [8]:
col_headers = [th.getText() for th in headers.findAll('th')]
col_headers

['Entry Header 1', 'Entry Header 2', 'Entry Header 3', 'Entry Header 4']

In [9]:
df_data = [[td.getText() for td in tr.findAll('td')] for tr in data_without_header]
df_data

[['Entry First Line 1',
  'Entry First Line 2',
  'Entry First Line 3',
  'Entry First Line 4'],
 ['Entry Line 1', 'Entry Line 2', 'Entry Line 3', 'Entry Line 4'],
 ['Entry Last Line 1',
  'Entry Last Line 2',
  'Entry Last Line 3',
  'Entry Last Line 4']]

In [10]:
df = pd.DataFrame(df_data, columns=col_headers)
df.head()

,Entry Header 1,Entry Header 2,Entry Header 3,Entry Header 4
0,Entry First Line 1,Entry First Line 2,Entry First Line 3,Entry First Line 4
1,Entry Line 1,Entry Line 2,Entry Line 3,Entry Line 4
2,Entry Last Line 1,Entry Last Line 2,Entry Last Line 3,Entry Last Line 4